## Prep steps:

In [1]:
! pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (4.0.0)
Requirement already satisfied: py4j==0.10.9.9 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from pyspark) (0.10.9.9)

In [5]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("regionSalesHomework").setMaster("local[*]")

sc = SparkContext(conf=conf)

Picked up JAVA_TOOL_OPTIONS: -XX:+UseContainerSupport -XX:ActiveProcessorCount=1
Picked up JAVA_TOOL_OPTIONS: -XX:+UseContainerSupport -XX:ActiveProcessorCount=1
WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/06/25 19:00:05 WARN Utils: Your hostname, saradawner2-trng2224dat-1l4u3l62pul, resolves to a loopback address: 127.0.0.1; using 10.0.5.2 instead (on interface eth0)
25/06/25 19:00:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/25 19:00:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Homework:

### 1. Load the Dataset

In [44]:
region_sales_raw = sc.textFile("file:////workspace/TRNG-2224-data-engineering/week1/datasets/region_sales.txt")

In [43]:
region_records = region_sales_raw.map(lambda x: x.split(",")).map(lambda x: (int(x[0]), x[1], x[2], int(x[3])))

### 2. Broadcast variable and set accumulator

In [52]:
category_discounts = {"Electronics": 0.10, "Furniture": 0.15, "Clothing": 0.05, "Books": 0.20}
broadcast_category_discounts = sc.broadcast(category_discounts)

In [59]:
below_300_count = sc.accumulator(0)

### 3. Calculate and return the RDD

In [54]:
def enrich_and_count(record):
    product_id, region, category, original_amount = record
    discount_applied = (1 - broadcast_category_discounts.value[category]) * original_amount
    below_300_count.add(1) if discount_applied < 300 else None
    return (product_id, region, category, original_amount, discount_applied)

In [60]:
enriched_region_records = region_records.map(enrich_and_count)
enriched_region_records.collect()

[(2001, 'South', 'Electronics', 838, 754.2),
 (2002, 'West', 'Furniture', 471, 400.34999999999997),
 (2003, 'North', 'Electronics', 803, 722.7),
 (2004, 'West', 'Furniture', 174, 147.9),
 (2005, 'South', 'Clothing', 590, 560.5),
 (2006, 'North', 'Furniture', 937, 796.4499999999999),
 (2007, 'North', 'Electronics', 391, 351.90000000000003),
 (2008, 'West', 'Electronics', 961, 864.9),
 (2009, 'North', 'Electronics', 305, 274.5),
 (2010, 'East', 'Clothing', 213, 202.35),
 (2011, 'East', 'Electronics', 615, 553.5),
 (2012, 'South', 'Clothing', 573, 544.35),
 (2013, 'East', 'Clothing', 352, 334.4),
 (2014, 'West', 'Clothing', 768, 729.5999999999999),
 (2015, 'North', 'Electronics', 231, 207.9),
 (2016, 'East', 'Furniture', 217, 184.45),
 (2017, 'West', 'Clothing', 346, 328.7),
 (2018, 'North', 'Books', 375, 300.0),
 (2019, 'South', 'Electronics', 313, 281.7),
 (2020, 'West', 'Furniture', 903, 767.55),
 (2021, 'West', 'Clothing', 904, 858.8),
 (2022, 'North', 'Furniture', 812, 690.1999999999999),
 (2023, 'West', 'Furniture', 590, 501.5),
 (2024, 'North', 'Books', 452, 361.6),
 (2025, 'North', 'Books', 697, 557.6),
 (2026, 'East', 'Clothing', 959, 911.05),
 (2027, 'North', 'Books', 661, 528.8000000000001),
 (2028, 'South', 'Books', 700, 560.0),
 (2029, 'East', 'Clothing', 832, 790.4),
 (2030, 'North', 'Furniture', 163, 138.54999999999998),
 (2031, 'South', 'Books', 413, 330.40000000000003),
 (2032, 'North', 'Furniture', 952, 809.1999999999999),
 (2033, 'North', 'Books', 240, 192.0),
 (2034, 'East', 'Clothing', 740, 703.0),
 (2035, 'South', 'Clothing', 264, 250.79999999999998),
 (2036, 'West', 'Books', 211, 168.8),
 (2037, 'East', 'Clothing', 103, 97.85),
 (2038, 'North', 'Electronics', 462, 415.8),
 (2039, 'West', 'Electronics', 479, 431.1),
 (2040, 'East', 'Electronics', 666, 599.4),
 (2041, 'West', 'Clothing', 347, 329.65),
 (2042, 'South', 'Electronics', 435, 391.5),
 (2043, 'East', 'Clothing', 669, 635.55),
 (2044, 'West', 'Electronics', 715, 643.5),
 (2045, 'North', 'Electronics', 232, 208.8),
 (2046, 'South', 'Electronics', 569, 512.1),
 (2047, 'West', 'Books', 989, 791.2),
 (2048, 'North', 'Clothing', 507, 481.65),
 (2049, 'East', 'Clothing', 429, 407.54999999999995),
 (2050, 'West', 'Electronics', 679, 611.1),
 (2051, 'West', 'Books', 581, 464.8),
 (2052, 'West', 'Furniture', 770, 654.5),
 (2053, 'South', 'Furniture', 408, 346.8),
 (2054, 'East', 'Furniture', 111, 94.35),
 (2055, 'South', 'Electronics', 228, 205.20000000000002),
 (2056, 'North', 'Electronics', 430, 387.0),
 (2057, 'South', 'Furniture', 523, 444.55),
 (2058, 'South', 'Books', 599, 479.20000000000005),
 (2059, 'East', 'Clothing', 756, 718.1999999999999),
 (2060, 'South', 'Electronics', 937, 843.3000000000001),
 (2061, 'East', 'Electronics', 456, 410.40000000000003),
 (2062, 'North', 'Books', 238, 190.4),
 (2063, 'West', 'Electronics', 210, 189.0),
 (2064, 'North', 'Electronics', 922, 829.8000000000001),
 (2065, 'North', 'Books', 113, 90.4),
 (2066, 'North', 'Furniture', 700, 595.0),
 (2067, 'South', 'Furniture', 643, 546.55),
 (2068, 'South', 'Clothing', 427, 405.65),
 (2069, 'West', 'Electronics', 909, 818.1),
 (2070, 'West', 'Electronics', 818, 736.2),
 (2071, 'North', 'Clothing', 438, 416.09999999999997),
 (2072, 'East', 'Books', 627, 501.6),
 (2073, 'East', 'Furniture', 303, 257.55),
 (2074, 'South', 'Clothing', 1000, 950.0),
 (2075, 'South', 'Electronics', 453, 407.7),
 (2076, 'East', 'Books', 461, 368.8),
 (2077, 'South', 'Books', 217, 173.60000000000002),
 (2078, 'South', 'Clothing', 122, 115.89999999999999),
 (2079, 'North', 'Clothing', 761, 722.9499999999999),
 (2080, 'East', 'Books', 783, 626.4000000000001),
 (2081, 'North', 'Clothing', 135, 128.25),
 (2082, 'North', 'Books', 412, 329.6),
 (2083, 'West', 'Clothing', 336, 319.2),
 (2084, 'West', 'Books', 129, 103.2),
 (2085, 'South', 'Clothing', 203, 192.85),
 (2086, 'South', 'Furniture', 856, 727.6),
 (2087, 'West', 'Books', 507, 405.6),
 (2088, 'East', 'Furniture', 681, 578.85),
 (2089, 'South', 'Furniture', 887, 753.9499999999999),
 (2090, 'West', 'Electronics', 295, 265.5),
 (2091, 'North', 'Furniture', 777, 660.4499999999999),
 (2092, 'South', 'Clothing', 913, 867.3499999999999),
 (2093, 'South', 'Books', 535, 428.0),
 (2094, 'North', 'Electronics', 946, 851.4),
 (2095, 'West', 'Clothing', 382, 362.9),
 (2096, 'North', 'Electronics', 295, 265.5),
 (2097, 'West', 'Furniture', 402, 341.7),
 (2098, 'South', 'Furniture', 552, 469.2),
 (2099, 'South', 'Clothing', 341, 323.95),
 (2100, 'West', 'Books', 799, 639.2)]

### 4. Save enriched table and display accumulator result

In [56]:
enriched_region_records.map(lambda x: ",".join(map(str,x))).coalesce(1).saveAsTextFile("enriched_region_sales")

In [61]:
below_300_count.value

25