## Prep steps:

In [2]:
! pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (4.0.0)
Requirement already satisfied: py4j==0.10.9.9 in /workspace/.pyenv_mirror/user/current/lib/python3.10/site-packages (from pyspark) (0.10.9.9)

In [3]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("salesHomework").setMaster("local[*]")

sc = SparkContext(conf=conf)

Picked up JAVA_TOOL_OPTIONS: -XX:+UseContainerSupport -XX:ActiveProcessorCount=1
Picked up JAVA_TOOL_OPTIONS: -XX:+UseContainerSupport -XX:ActiveProcessorCount=1
WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/06/24 22:52:45 WARN Utils: Your hostname, saradawner2-trng2224dat-1l4u3l62pul, resolves to a loopback address: 127.0.0.1; using 10.0.5.2 instead (on interface eth0)
25/06/24 22:52:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/24 22:52:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/24 22:52:47 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
sales_raw = sc.textFile("file:////workspace/TRNG-2224-data-engineering/week1/datasets/sales.txt")

In [5]:
records = sales_raw.map(lambda x: x.split(",")).map(lambda x: (int(x[0]), x[1], int(x[2])))

## Homework:

### 1. All product IDs where the amount is greater than 900

In [10]:
greater_than_900 = records.filter(lambda x: x[2] > 900).map(lambda x: x[0])
greater_than_900.collect()

[1014, 1024, 1039]

### 2. All transactions that belong to the “Furniture” category

In [11]:
furniture = records.filter(lambda x: x[1] == "Furniture")
furniture.collect()

[(1001, 'Furniture', 69),
 (1004, 'Furniture', 357),
 (1005, 'Furniture', 429),
 (1006, 'Furniture', 540),
 (1009, 'Furniture', 503),
 (1018, 'Furniture', 803),
 (1022, 'Furniture', 176),
 (1037, 'Furniture', 567),
 (1041, 'Furniture', 514),
 (1047, 'Furniture', 527),
 (1048, 'Furniture', 364),
 (1051, 'Furniture', 168),
 (1056, 'Furniture', 860),
 (1057, 'Furniture', 727),
 (1060, 'Furniture', 734),
 (1061, 'Furniture', 586),
 (1064, 'Furniture', 653),
 (1066, 'Furniture', 425),
 (1068, 'Furniture', 633),
 (1070, 'Furniture', 879),
 (1082, 'Furniture', 645),
 (1084, 'Furniture', 686)]

### 3. # of transactions that belong to the “Electronics” category

In [12]:
electronics = records.filter(lambda x: x[1] == "Electronics")
electronics.count()

24

### 4. Average amount for each category

In [14]:
category_amount_counts = records.map(lambda x: (x[1], (x[2], 1)))
category_totals = category_amount_counts.reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1]))
category_averages = category_totals.mapValues(lambda x: x[0]/x[1])
category_averages.collect()

[('Furniture', 538.4090909090909),
 ('Clothing', 443.0),
 ('Electronics', 547.4166666666666),
 ('Books', 407.3636363636364),
 ('Toys', 536.0909090909091)]

### 5. The highest amount and the corresponding product ID

In [16]:
max_amount = records.max(lambda x: x[2])
max_amount

(1014, 'Electronics', 987)

### 6. the total number of unique categories

In [17]:
unique_categories = records.map(lambda x: x[1]).distinct()
unique_categories.count()

5

### 7. Product ID with the highest sale for each category

In [8]:
category_product_amount = records.map(lambda x: (x[1], (x[0], x[2])))
max_per_category = category_product_amount.reduceByKey(lambda a, b: a if a[1] > b [1] else b)
max_per_category = max_per_category.map(lambda x: (x[1][0], x[0]))
max_per_category.collect()

[(1070, 'Furniture'),
 (1021, 'Clothing'),
 (1014, 'Electronics'),
 (1007, 'Books'),
 (1028, 'Toys')]

### 8. # products of which less than 300 were sold

In [9]:
less_than_300 = records.filter(lambda x: x[2] < 300)
less_than_300.count()

22

### 9. Transactions sorted by amount in descending order

In [10]:
sorted_by_amount = records.sortBy(lambda x: x[2], False)
sorted_by_amount.collect()

[(1014, 'Electronics', 987),
 (1039, 'Electronics', 941),
 (1024, 'Electronics', 930),
 (1021, 'Clothing', 894),
 (1069, 'Clothing', 883),
 (1081, 'Electronics', 881),
 (1070, 'Furniture', 879),
 (1028, 'Toys', 861),
 (1056, 'Furniture', 860),
 (1078, 'Electronics', 845),
 (1058, 'Toys', 836),
 (1032, 'Toys', 829),
 (1003, 'Electronics', 821),
 (1018, 'Furniture', 803),
 (1020, 'Toys', 800),
 (1073, 'Toys', 800),
 (1076, 'Clothing', 797),
 (1092, 'Electronics', 778),
 (1098, 'Electronics', 776),
 (1008, 'Electronics', 770),
 (1060, 'Furniture', 734),
 (1057, 'Furniture', 727),
 (1007, 'Books', 724),
 (1097, 'Clothing', 716),
 (1055, 'Toys', 693),
 (1084, 'Furniture', 686),
 (1088, 'Toys', 683),
 (1072, 'Toys', 678),
 (1042, 'Books', 668),
 (1064, 'Furniture', 653),
 (1065, 'Electronics', 651),
 (1091, 'Clothing', 647),
 (1082, 'Furniture', 645),
 (1068, 'Furniture', 633),
 (1015, 'Books', 627),
 (1030, 'Toys', 618),
 (1045, 'Electronics', 616),
 (1094, 'Toys', 587),
 (1061, 'Furniture', 586),
 (1025, 'Toys', 584),
 (1080, 'Clothing', 568),
 (1037, 'Furniture', 567),
 (1044, 'Toys', 558),
 (1043, 'Electronics', 545),
 (1049, 'Clothing', 545),
 (1038, 'Toys', 542),
 (1006, 'Furniture', 540),
 (1047, 'Furniture', 527),
 (1041, 'Furniture', 514),
 (1009, 'Furniture', 503),
 (1050, 'Books', 500),
 (1083, 'Clothing', 498),
 (1099, 'Clothing', 495),
 (1053, 'Electronics', 483),
 (1016, 'Electronics', 481),
 (1085, 'Toys', 468),
 (1013, 'Clothing', 459),
 (1019, 'Electronics', 453),
 (1074, 'Clothing', 440),
 (1005, 'Furniture', 429),
 (1034, 'Clothing', 427),
 (1066, 'Furniture', 425),
 (1071, 'Toys', 419),
 (1046, 'Books', 412),
 (1087, 'Books', 409),
 (1012, 'Toys', 400),
 (1067, 'Electronics', 366),
 (1048, 'Furniture', 364),
 (1004, 'Furniture', 357),
 (1075, 'Electronics', 356),
 (1077, 'Clothing', 353),
 (1023, 'Electronics', 352),
 (1010, 'Clothing', 331),
 (1036, 'Clothing', 330),
 (1033, 'Clothing', 329),
 (1054, 'Toys', 316),
 (1017, 'Books', 314),
 (1100, 'Toys', 301),
 (1079, 'Toys', 294),
 (1095, 'Books', 262),
 (1096, 'Books', 251),
 (1026, 'Electronics', 248),
 (1031, 'Electronics', 246),
 (1027, 'Toys', 243),
 (1029, 'Books', 229),
 (1011, 'Clothing', 227),
 (1089, 'Electronics', 218),
 (1093, 'Electronics', 186),
 (1090, 'Toys', 183),
 (1022, 'Furniture', 176),
 (1051, 'Furniture', 168),
 (1062, 'Electronics', 149),
 (1086, 'Clothing', 142),
 (1035, 'Toys', 101),
 (1040, 'Clothing', 87),
 (1063, 'Books', 85),
 (1002, 'Clothing', 78),
 (1001, 'Furniture', 69),
 (1059, 'Electronics', 59),
 (1052, 'Clothing', 57)]